<div class="card h-100">
    <div class="card-body">
        <h5 class="card-title">{{ opp.title }}</h5>
        <p class="card-text text-muted">
            {{ opp.category.name }} |
            {% if opp.remote %}Remote{% else %}{{ opp.country.name }}{% endif %}
        </p>
            <p class="deadline">
                Deadline: {{ opp.application_deadline }}
            </p>
        <a href="{{ opp.get_absolute_url }}" class="btn btn-warning btn-sm">
            View Details
        </a>
    </div>
</div>
