*.pyc
*__pycache__
db.sqlite3
.env
venv/
env/
.vscode/
.idea/
migrations/
.DS_Store
coverage/
htmlcov/
*.log
*.sqlite3
node_modules/
dist/
build/
*.egg-info/
.cache/
.pytest_cache/
**/migrations/*.py
!**/migrations/__init__.py